# IP de la interfaz del servidor/VM a la que se expone el puerto del contenedor.
# Cambia a 0.0.0.0 solo si necesitas escuchar en TODAS las interfaces.
BIND_ADDRESS=192.168.0.100

MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_USER=mysql_user
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=mysql_db
